
@{
    ViewBag.Title = "Index";
    
}

<h2>Master Details entry form</h2>

<div class="container">
    <div class="master">
        <h2>Order</h2>
        <table class="table table-responsive">
            <tr>
                <td>Order Número</td>
                <td>
                    <input type="text" id="orderNumber" class="form-control" value="" />
                    <span class="error">Order no required</span>
                </td>
                <td>Order Date</td>
                <td>
                    <input type="text" id="orderDate" placeholder="dd/mm/yyyy" class="form-control" value="" />
                    <span class="error">Valid order required (ex: dd-mm-yyyy)</span>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td colspan="3">
                    <textarea id="descrption" class="form-control"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="details">
        <h2>Order items</h2>
        <table class="table table-responsive">
           <tr>
               <td>Category</td>
               <td>Product</td>
               <td>Quantity</td>
               <td>Rate</td>
               <td>&nbsp;</td>
           </tr>
            <tr class="mycontainer" id="mainrow">
                <td>
                    <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                       <option>Select.</option>                        
                    </select>
                    <span class="error">Select Category</span>
                </td>
                <td>
                    <select id="Porduct" class="product form-control">
                        <option>Select.</option>                        
                    </select>
                    <span class="error">Select product</span>
                </td>
                <td>
                    <input type="text" name="quantity" class="quantity form-control" value="" />
                    <span class="error">Valid Quantity Required.</span>
                </td>
                <td>
                    <input type="text" id="rate" class="rate form-control" name="name" value="" />
                    <span class="error">Valid Rate Required.</span>
                </td>
                <td>
                    <input type="button" id="add"  value="Add" style="width:80px" class="tbn btn-success" />
                </td>
            </tr>
        </table>
        <div id="orderItems">
            <table class="table table-responsive" id="orderDetailsItems"></table>
             <span id="orderItemError" style="color:red"></span>          
        </div>
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="button"  value="Save Order" class="btn btn-warning" style="padding:10px 20px"/>
        </div>
    </div>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="~/Scripts/js.js"></script>



<script type="text/javascript">
   $(function () {
        $('#orderDate').datepicker({
            dateFormat: 'dd-mm-yy'
        })
    })
</script>
<style>
    span.error {
        display:block;
        visibility:hidden;
        color:red;
        font-size:90%;
    }
    tr.error{
        background-color:rgba(255,0,0,0.35);
    }
</style>

    